.card {
    border-radius: 16px;
    box-shadow: 
      0px 8px 16px rgba(0, 0, 0, 0.4), /* Sombra principal */
      inset 0px 0px 4px rgba(255, 255, 255, 0.5); /* Sombra interna */
    text-align: center;
    padding: 24px;
    margin: 16px;
    max-width: 400px;
    flex: 1 1 calc(20% - 32px);
    position: relative;
    border: 4px solid #e0e0e0;
    transition: transform 0.3s ease;
    background-color: inherit; /* Se usa solo color sólido */
    color: black;
    /* Efecto tridimensional */
    border-top: 6px solid #ffffff;
    border-left: 6px solid #ffffff;
    border-bottom: 6px solid #b0b0b0;
    border-right: 6px solid #b0b0b0;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .pokemonNumber {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .pokemonImage {
    width: 200px;
    height: 200px;
  }
  
  .pokemonName {
    font-size: 2rem;
    margin: 16px 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  
  .typeButtons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 8px 0 16px;
  }
  
  .typeButton {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 6px 12px;
    font-size: 0.9rem;
    cursor: default;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
  }
  
  .stats {
    margin-top: 16px;
  }
  
  .stats h4 {
    margin-bottom: 8px;
  }
  
  .stats ul {
    list-style-type: none;
    padding: 0;
  }
  
  .statRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
  }
  
  .statName {
    flex: 2;
    font-size: 0.9rem;
    text-align: left;
  }
  
  .statBar {
    flex: 6;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    height: 12px;
    margin: 0 8px;
  }
  
  .statFill {
    background-color: #4caf50;
    height: 100%;
    transition: width 0.3s ease;
  }
  
  .statValue {
    flex: 1;
    font-size: 0.9rem;
    text-align: right;
  }
  